body {
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
}
.movie_list {
    width: 660px;
    margin: 0 auto;
}
.grid_view li {
    list-style: none;
    border-bottom: 1px dashed #ccc;
    padding: 12px 0;
}