<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>douban-movie-react-ssr</title>
    <link rel="stylesheet" href="/main.css"></link>
</head>
<body>
    <div id="app"><%- html %></div>
    <script>
        window.__initState__ = <%- reduxState %>
    </script>
    <script src="/vendor.bundle.js"></script>
    <script src="/main.bundle.js"></script>
        
</body>
</html>